job('Development Seed Job') {
    customWorkspace('/vagrant/')
    steps {
        gradle 'clean test'
        dsl {
            external 'src/jobs/**/*Job.groovy'
            additionalClasspath 'src/main/groovy'
        }
        dsl {
            external 'src/jobs/views.groovy'
            additionalClasspath 'src/main/groovy'
        }
    }
}
