job('Development Seed Job') {
    customWorkspace('/vagrant/')
    environmentVariables(CANDLEPIN_JENKINS_GITHUB_ORG: '{{ CANDLEPIN_JENKINS_GITHUB_ORG }}')
    steps {
        gradle 'clean test'
        dsl {
            external 'jobs/**/*Job.groovy'
            additionalClasspath 'src/main/groovy'
        }
    }
}
